@page
@model RazorPages_MasterDetailApp.Pages.Kazi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameCollection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameCollection.Title" class="control-label"></label>
                <input asp-for="GameCollection.Title" class="form-control" />
                <span asp-validation-for="GameCollection.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameCollection.GenreType" class="control-label"></label>
                <select asp-for="GameCollection.GenreType" class="form-control"></select>
                <span asp-validation-for="GameCollection.GenreType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameCollection.Developer" class="control-label"></label>
                <input asp-for="GameCollection.Developer" class="form-control" />
                <span asp-validation-for="GameCollection.Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameCollection.ReleaseDate" class="control-label"></label>
                <input asp-for="GameCollection.ReleaseDate" class="form-control" />
                <span asp-validation-for="GameCollection.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameCollection.Price" class="control-label"></label>
                <input asp-for="GameCollection.Price" class="form-control" />
                <span asp-validation-for="GameCollection.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
